/* styles.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  /* Optional: Light background color for better aesthetics */
  color: #333;
  /* Optional: Darker text color for readability */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: #222;
  /* Optional: Slightly darker color for headings */
}

nav {
  background-color: #343a40;
  /* Dark navbar */
}

nav ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  /* Bold navigation links */
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  padding: 20px;
  text-align: center;
  font-size: 2.5em;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.project {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-details {
  padding-top: 10px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}